<footer class="d-flex flex-column flex-md-row justify-content-between align-items-center py-4 my-4 border-top bg-dark text-light">
      <!-- Logo y nombre de la compañía -->
      <div class="d-flex align-items-center mb-3 mb-md-0">
        <a href="/" class="me-2 text-decoration-none">
            <img src="../../../../../assets/Logo-fotor-bg-remover-2024090684342.png" alt="Logo de la empresa" width="50" height="50"> <!-- Reemplaza con tu logo -->
        </a>
        <span class="text-light">&copy; 2024 NBITA Company, Inc</span>
    </div>

    <!-- Menú de navegación del footer -->
    <ul class="nav mb-3 mb-md-0">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Soporte</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-light" routerLink="/contacto">Contacto</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-light">Sobre Nosotros</a></li>
    </ul>

    <!-- Redes sociales -->
    <ul class="nav">
        <li class="ms-3"><a class="text-light" href="https://web.whatsapp.com/"><img src="../../../../../assets/WhatsApp.svg.webp" alt="WhatsApp" width="30px"></a></li>
        <li class="ms-3"><a class="text-light" href="https://www.facebook.com/?locale=es_LA"><img src="../../../../../assets/instagram.png" alt="Instagram" width="30px"></a></li>
        <li class="ms-3"><a class="text-light" href="https://www.instagram.com/"><img src="../../../../../assets/Facebooklogo.webp" alt="Facebook" width="30px"></a></li>
    </ul>
</footer>
