<div id="productCarousel" class="carousel slide" data-bs-ride="carousel" style="margin: 0 auto;">
    <!-- Indicadores -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#productCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Producto 1"></button>
        <button type="button" data-bs-target="#productCarousel" data-bs-slide-to="1" aria-label="Producto 2"></button>
        <button type="button" data-bs-target="#productCarousel" data-bs-slide-to="2" aria-label="Producto 3"></button>
    </div>

    <!-- Imágenes del carrusel -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../../assets/Banner_The_Beatles.webp" class="d-block w-100" alt="Producto 1">
        </div>
        <div class="carousel-item">
            <img src="../../../../assets/Banner_Vinilo_HolaMundo.webp" class="d-block w-100" alt="Producto 2">
        </div>
        <div class="carousel-item">
            <img src="../../../../../assets/banner_charly_garcia.webp" class="d-block w-100" alt="Producto 3">
        </div>
    </div>

    <!-- Controles de navegación -->
    <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>

<!-- Productos mas vendidos -->

<div class="container my-5"></div>
<!-- Div centrado con el título "Lo más vendido" -->
<div class="text-center mb-4">
    <div class="fw-bold display-5">Los más vendido</div>
</div>




<app-card></app-card>

<app-ranking></app-ranking>



<!--Nuevos lanzamientos-->

<div class="container my-5"></div>
    <!-- Div centrado con el título "Nuevos lanzamientos" -->
    <div class="text-center mb-4">
        <div class="fw-bold display-5">Nuevos lanzamientos</div>
    </div>

<div id="multiItemCarousel" class="carousel slide" data-bs-ride="carousel">
    <!-- Indicadores -->
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#multiItemCarousel" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#multiItemCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    </div>

    <!-- Slides del carrusel -->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                <div class="col-3">
                    <img src="../../../../../assets/Box_set_1964_theBeatles.png" class="d-block w-100" alt="Producto 1">
                </div>
                <div class="col-3">
                    <img src="../../../../../assets/Hit-me-hard-and-soft-vinilo-MilkyWhite-exclusivo.webp" class="d-block w-100" alt="Producto 2">
                </div>
                <div class="col-3">
                    <img src="../../../../../assets/JBalvin_Standard-CD-Front-Disco.webp" class="d-block w-100" alt="Producto 3">
                </div>
                <div class="col-3">
                    <img src="../../../../../assets/Final-CD.webp" class="d-block w-100" alt="Producto 4">
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="row">
                <div class="col-3">
                    <img src="../../../../../assets/BETTYLOVE_ProductMockGIFs.webp" class="d-block w-100" alt="Producto 5">
                </div>
                <div class="col-3">
                    <img src="../../../../../assets/CD_STANDARD_SHAWN_MENDES.png" class="d-block w-100" alt="Producto 6">
                </div>
                <div class="col-3">
                    <img src="../../../../../assets/Nirvana_BOX_PACK-fotor-bg-remover-2024103091635.png" class="d-block w-100" alt="Producto 7">
                </div>
                <div class="col-3">
                    <img src="../../../../../assets/Charly_Garcia_la_logica_del_escorpion.jpg" class="d-block w-100" alt="Producto 8">
                </div>
            </div>
        </div>
    </div>

    <!-- Controles de navegación -->
    <button class="carousel-control-prev" type="button" data-bs-target="#multiItemCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#multiItemCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
    </button>
</div>