<div class="container">
    <form class="form">
      <div class="descr">Contactate</div>
      <div class="input">
          <input required="" autocomplete="off" type="text">
          <label for="name">Nombre</label>
      </div>

      <div class="input">
          <input required="" autocomplete="off" name="email" type="text">
          <label for="email">E-mail</label>
      </div>

      <div class="input">
          <textarea required="" cols="30" rows="1" id="message"></textarea>
          <label for="message">Mensaje</label>
      </div>
      <button>Enviar →</button>
    </form>
</div>
