

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body{
    background: linear-gradient(to right,  rgb(31, 161, 212), limegreen);
    transition: all 1.5 ease;
}

